// ANIMACJA STRONY 
.page-leave-active {
  animation: fade 0.2s reverse;
}

.page-enter-active {
  animation: fade 0.2s;
}

// ANIMACJA slide-to-right

.slide-to-right-enter-active {
  animation: slide-to-right 0.3s;
}

.slide-to-right-leave-active {
  animation: slide-to-right 0.3s reverse;
}

// ANIMACJA SLIDE-TO-LEFT 

.slide-to-left-enter-active {
  animation: slide-to-left .3s;
}

.slide-to-left-leave-active {
  animation: slide-to-left .3s reverse;
}

// ANIMACJA SLIDE-UP

.slide-up-enter-active {
  animation: slide-up 0.2s;
}

.slide-up-leave-active {
  animation: slide-up 0.2s reverse;
}

// ANIMACJA FADE 

.fade-enter-active {
  animation: fade 0.2s;
}

.fade-leave-active {
  animation: fade 0.2s reverse;
}

// ANIMACJA ACCORDION 

.accordion-enter-active {
  animation: accordion 1s;
  overflow: hidden;
}

.accordion-leave-active {
  animation: accordion 1s reverse;
  overflow: hidden;
}

.icon--spinning {
  animation: spin 1.5s linear infinite;
}

// ANIMACJA ANIMATE-LIST

.animate-list-leave-active {
  position: absolute;
  opacity: 0;
}

.animate-list-move {
  transition: transform 0.3s;
}

// KEYFRAMES 

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

@keyframes fade-and-slide-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes accordion {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
  } 
  to {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}