button {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  display: block;
  color: inherit;
  font-family: 'Nunito', sans-serif !important;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.034);
  opacity: 0;
  transition: opacity 0.3s;
}

button:active::after {
  opacity: 1;
}

.button--primary {
  cursor: pointer;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: color(green);
  font-weight: 700;
  color: color(lightblack);
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  border: 2px solid color(green);
  border-radius: 25px;
  padding: .5rem 1.5rem;
  transition: all 0.3s;
  margin: 0;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active {
  background-color: color(darkgreen);
  border-color: color(darkgreen);
}

.button--inactive, 
.button--primary:disabled {
  background-color: color(gray);
  border-color: color(gray);
}

.button--inactive:hover,
.button--inactive:focus,
.button--inactive:active {
  background-color: color(gray);
  border-color: color(gray);
}