.b-black {
  background-color: color(black);
}

.b-green {
  background-color: color(green);
}

.t-black {
  color: color(fontblack);
}

.t-white {
  color: white;
}

.t-green {
  color: color(green);
}

.t-darkgreen {
  color: color(darkgreen);
}

