* {
  box-sizing: border-box;
  max-height: 1000000px;
  // ^ fix for font boosting
}
    
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: color(black);
}