[class^="flaticon-"] {
  font-size: 18px;
  font-weight: 300;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  margin: 0;
  margin-right: inherit;
}
