form {
  width: 100%;
}

input,
textarea, 
select {
  outline: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  display: block;
  width: 100%;
  resize: none;
  background-color: transparent;
}

input::placeholder, 
textarea::placeholder,
select::placeholder  {
  color: color(faded);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}