.logo {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  z-index: 1000;
  line-height: 100%;
}

.carousel-container {
  margin-left: -1rem;
  width: 100vw;
}

.exercise-avatar {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.tab {
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.09);
  background-color: color(secondary);
}

.icon-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: color(success);
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(black);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}

.blind {
  position: relative;
  opacity: 0.2;
  transition: all 0.3s;
}

.blind::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
