.logo {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  z-index: 1000;
  color: white;
}

.tab {
  background-color: color(lightblack);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.08);
}

.carousel-container {
  margin-left: -1rem;
  width: 100vw;
}

.avatar {
  height: 42px;
  width: 42px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.08);
}

.icon-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: color(green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(lightblack);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}

.blind {
  position: relative;
  color: color(inputgray) !important;
}

.blind::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.square {
  border-radius: 5px;
}

.small:before {
  font-size: 0.9rem;
}
