// LISTS AND LINKS

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding-left: 0.3rem;
  border-left: 1px solid color(faded);
}

ol {
  padding-left: 1rem;
  margin: 0;
}

// HEADERS

h1, h2, h3, h4,h5 {
  font-family: 'Teko', sans-serif;
  font-size: 48px;
  margin: 0 0 1rem 0; 
  color: color(headers);
  font-weight: 300;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 16px;
}

// Paragraphs

label, 
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -.3px;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-medium {
  font-size: 13px;
}

.t-small {
  font-size: 11px;
}


