@function color($color-name) {
  @return map-get($colors, $color-name)
}

$colors: (
  primary: #349DFB,
  secondary: #5D6069,
  accent: #4DBAF9,
  error: #F86577,
  success: #07CD36,
  white: #FFFFFF,
  black: #5D6069,
  gradient: #076FCD,
);