@function color($color-name) {
  @return map-get($colors, $color-name)
}

$colors: (
  black: #222E50, 
  lightblack: #343F68,
  green: #B0FE76, 
  darkgreen: #007556, 
  fontblack: #2c3038,
  inputblack: #555a64,  
  gray: #4C5B61, 
  inputgray: rgba(255, 255, 255, 0.158),
  red: #F45B69, 
  assistantblack: #121212,
);